---
// import { Image } from '@astrojs/image/components';
import Container from "@components/Container";
import LinkButton from '@components/LinkButton';
import MainLayout from "@layouts/MainLayout.astro";
import Data from '@utils/data.json';
import { parse } from 'node-html-parser';
import { getAllPosts } from 'src/utils/api';
type Post = typeof Data;

export async function getStaticPaths(){
  const data = await getAllPosts();
  const posts: Post[] = data.items;

  return posts.map(post=>{
    return {
      params: {id: post._id},
      props: {post}
    }
  })
}

const {post} = Astro.props;
const imageUrl = post.thumbnail?.src;
const content = parse(post.content);

---

<MainLayout>
  <Container className="py-5 max-w-5xl space-y-4 lg:space-y-8 lg:pb-20">
    <h1 class="text-3xl text-center">{post.title}</h1>
    <img src={imageUrl} alt={post.title} class="aspect-video object-cover">
    <!-- <Image src={imageUrl} width={1200} aspectRatio={16/9} /> -->
    <div class="px-5 prose max-w-none">
      {content}
    </div>

    <LinkButton href="/" className="w-11/12 mx-auto max-w-sm">ホームに戻る</LinkButton>
  </Container>
</MainLayout>

